<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    @css(index)
    @script(theme)
</head>
<body class="h-dvh w-dvw overflow-auto bg-gradient-to-br from-background to-slate-200 dark:from-dark-background dark:to-slate-900 flex flex-col items-center justify-center ">
    <h1 class="text-8xl font-black bg-gradient-to-r from-primary-dark to-primary-light bg-clip-text text-transparent">404 | NOT FOUND</h1>
    <p></p>
</body>
</html>
